$primaryColor:#2D8EE3;
$primaryTextColor:#ffffff;

$topbarBgLeftColor:#2872B4;
$topbarBgRightColor:#26BED0;
$topbarSidebarButtonColor:#ffffff;
$topbarIconHoverBgColor:#18558A;
$topbarMenuHoverBgColor:#0991A5;
$topbarProfileTextColor:#ffffff;
$activeSubMenuItemTextColor:$primaryColor;

@import '../../sass/layout/_layout';