$primaryColor:#eeb210;
$primaryTextColor:#333333;

$topbarBgLeftColor:#f66b0b;
$topbarBgRightColor:#efd417;
$topbarSidebarButtonColor:#ffffff;
$topbarIconHoverBgColor:#ee4f10;
$topbarMenuHoverBgColor:#d1ac13;
$topbarProfileTextColor:#333333;
$activeSubMenuItemTextColor:#be8e0c;

@import '../../sass/layout/_layout';