$primaryColor:#44be2d;
$primaryTextColor:#333333;

$topbarBgLeftColor:#07b750;
$topbarBgRightColor:#c7d41b;
$topbarSidebarButtonColor:#333333;
$topbarIconHoverBgColor:#088D3F;
$topbarMenuHoverBgColor:#8C9512;
$topbarProfileTextColor:#333333;
$activeSubMenuItemTextColor:#5bad4b;

@import '../../sass/layout/_layout';