$primaryColor:#F04B17;
$primaryTextColor:#ffffff;

$topbarBgLeftColor:#FF2525;
$topbarBgRightColor:#FFA43B;
$topbarSidebarButtonColor:#ffffff;
$topbarIconHoverBgColor:#AE1B1B;
$topbarMenuHoverBgColor:#A8600E;
$topbarProfileTextColor:#ffffff;
$activeSubMenuItemTextColor:$primaryColor;

@import '../../sass/layout/_layout';