$primaryColor:#e02365;
$primaryTextColor:#ffffff;

$topbarBgLeftColor:#e02365;
$topbarBgRightColor:#db3c06;
$topbarSidebarButtonColor:#ffffff;
$topbarIconHoverBgColor:#A22650;
$topbarMenuHoverBgColor:#C03213;
$topbarProfileTextColor:#ffffff;
$activeSubMenuItemTextColor:$primaryColor;

@import '../../sass/layout/_layout';