$primaryColor:#722CEE;
$primaryTextColor:#ffffff;

$topbarBgLeftColor:#5023A0;
$topbarBgRightColor:#7A318D;
$topbarSidebarButtonColor:#ffffff;
$topbarIconHoverBgColor:#321367;
$topbarMenuHoverBgColor:#9250AE;
$topbarProfileTextColor:#ffffff;
$activeSubMenuItemTextColor:#935df4;

@import '../../sass/layout/_layout';