$primaryColor:#FFD000;
$primaryTextColor:#333333;

$topbarBgLeftColor:#F39C05;
$topbarBgRightColor:#F3C704;
$topbarSidebarButtonColor:#ffffff;
$topbarIconHoverBgColor:#A77004;
$topbarMenuHoverBgColor:#C3A004;
$topbarProfileTextColor:#333333;
$activeSubMenuItemTextColor:#c28304;

@import '../../sass/layout/_layout';