$primaryColor:#2162b0;
$primaryTextColor:#ffffff;

$topbarBgLeftColor:#1e469a;
$topbarBgRightColor:#49a7c1;
$topbarSidebarButtonColor:#ffffff;
$topbarIconHoverBgColor:#326ddf;
$topbarMenuHoverBgColor:#30768A;
$topbarProfileTextColor:#ffffff;
$activeSubMenuItemTextColor:#3780d9;

@import '../../sass/layout/_layout';