$primaryColor:#17AFC2;
$primaryTextColor:#ffffff;

$topbarBgLeftColor:#12AABD;
$topbarBgRightColor:#C4C988;
$topbarSidebarButtonColor:#ffffff;
$topbarIconHoverBgColor:#128391;
$topbarMenuHoverBgColor:#88A571;
$topbarProfileTextColor:#ffffff;
$activeSubMenuItemTextColor:$primaryColor;

@import '../../sass/layout/_layout';