$primaryColor:#3DB281;
$primaryTextColor:#ffffff;

$topbarBgLeftColor:#1D976C;
$topbarBgRightColor:#93F9B9;
$topbarSidebarButtonColor:#ffffff;
$topbarIconHoverBgColor:#13704F;
$topbarMenuHoverBgColor:#20996E;
$topbarProfileTextColor:#333333;
$activeSubMenuItemTextColor:#3DB281;

@import '../../sass/layout/_layout';