$primaryColor:#4E7487;
$primaryTextColor:#ffffff;

$topbarBgLeftColor:#16222A;
$topbarBgRightColor:#3A6073;
$topbarSidebarButtonColor:#ffffff;
$topbarIconHoverBgColor:#3C5362;
$topbarMenuHoverBgColor:#4D7C93;
$topbarProfileTextColor:#ffffff;
$activeSubMenuItemTextColor:$primaryColor;

@import '../../sass/layout/_layout';