$primaryColor:#4b6cb7;
$primaryTextColor:#ffffff;

$topbarBgLeftColor:#4b6cb7;
$topbarBgRightColor:#182848;
$topbarSidebarButtonColor:#ffffff;
$topbarIconHoverBgColor:#1c315e;
$topbarMenuHoverBgColor:#4b6cb7;
$topbarProfileTextColor:#ffffff;
$activeSubMenuItemTextColor:#4b6cb7;

@import '../../sass/layout/_layout';