$primaryColor:#a2ad03;
$primaryTextColor:#333333;

$topbarBgLeftColor:#53C018;
$topbarBgRightColor:#C6D309;
$topbarSidebarButtonColor:#333333;
$topbarIconHoverBgColor:#3E9311;
$topbarMenuHoverBgColor:#90990A;
$topbarProfileTextColor:#333333;
$activeSubMenuItemTextColor:#818a02;

@import '../../sass/layout/_layout';